.textWhenMultipleSelectMode {
  font-size: var(--md-font-size);
  padding: 0 12px;
}

.fetching {
  font-size: var(--md-font-size);
  padding: 0 12px;
}

.beforeFetching {
  font-size: var(--md-font-size);
  padding: 0 12px;
}

