
.stateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.input {
  cursor: pointer;
}
.label {
  cursor: pointer;
}

@media (max-width: 640px) {
  .stateContainer {
    font-size: var(--sm-font-size);
  }
}
