.container {
  text-align: center;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  background: white;
  font-size: var(--md-font-size);
}

.container:hover {
  opacity: 0.5;
}

.container.selected {
  opacity: 1;
  background: var(--secondary-accent-color);
  color: var(--primary-accent-color);
}
.container.selected:hover {
  opacity: 1;
}

@media (max-width: 425px) {
  .container {
    padding: 4px 8px;
    font-size: var(--sm-font-size);
  }
}
